node_modules
.next
.next/trace
.next/cache/webpack/client-development/0.pack
.next/cache/webpack/client-development/1.pack
.next/cache/webpack/client-development/2.pack
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/4.pack
.next/cache/webpack/client-development/5.pack
.next/cache/webpack/client-development/6.pack
.next/cache/webpack/client-development/7.pack
.next/cache/webpack/client-development/8.pack
.next/cache/webpack/client-development/9.pack
.next/cache/webpack/client-development/10.pack
.next/cache/webpack/client-development/11.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/0.pack
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/4.pack
.next/cache/webpack/server-development/5.pack
.next/cache/webpack/server-development/6.pack
.next/cache/webpack/server-development/7.pack
.next/cache/webpack/server-development/8.pack
.next/cache/webpack/server-development/9.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/index.pack
.next/server/_error.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages/horizontal.js
.next/server/pages/vertical.js
.next/static/chunks/_error.js
.next/static/chunks/webpack.js
.next/static/chunks/pages/_app.js
.next/static/chunks/pages/horizontal.js
.next/static/chunks/pages/vertical.js
.next/static/webpack/1b3db94c24418b0c.webpack.hot-update.json
.next/static/webpack/3a6b64618c5c76f6.webpack.hot-update.json
.next/static/webpack/5a5b22166d527fbd.webpack.hot-update.json
.next/static/webpack/8fde0d7aab3f38e2.webpack.hot-update.json
.next/static/webpack/09e8d1864d790f54.webpack.hot-update.json
.next/static/webpack/16c50b1b64b3fb96.webpack.hot-update.json
.next/static/webpack/75e2021d04595251.webpack.hot-update.json
.next/static/webpack/86cd52b48130b612.webpack.hot-update.json
.next/static/webpack/605f75957932b8df.webpack.hot-update.json
.next/static/webpack/28660e13237dce64.webpack.hot-update.json
.next/static/webpack/7795329ff60a1a85.webpack.hot-update.json
.next/static/webpack/cab4344e8d502b06.webpack.hot-update.json
.next/static/webpack/f2bab98a073713ab.webpack.hot-update.json
.next/static/webpack/f86dd5f3689b450e.webpack.hot-update.json
.next/static/webpack/webpack.1b3db94c24418b0c.hot-update.js
.next/static/webpack/webpack.3a6b64618c5c76f6.hot-update.js
.next/static/webpack/webpack.5a5b22166d527fbd.hot-update.js
.next/static/webpack/webpack.8fde0d7aab3f38e2.hot-update.js
.next/static/webpack/webpack.09e8d1864d790f54.hot-update.js
.next/static/webpack/webpack.16c50b1b64b3fb96.hot-update.js
.next/static/webpack/webpack.75e2021d04595251.hot-update.js
.next/static/webpack/webpack.86cd52b48130b612.hot-update.js
.next/static/webpack/webpack.605f75957932b8df.hot-update.js
.next/static/webpack/webpack.28660e13237dce64.hot-update.js
.next/static/webpack/webpack.7795329ff60a1a85.hot-update.js
.next/static/webpack/webpack.cab4344e8d502b06.hot-update.js
.next/static/webpack/webpack.f2bab98a073713ab.hot-update.js
.next/static/webpack/webpack.f86dd5f3689b450e.hot-update.js
.next/static/webpack/pages/_app.f2bab98a073713ab.hot-update.js
.next/static/webpack/pages/index.1b3db94c24418b0c.hot-update.js
.next/static/webpack/pages/index.3a6b64618c5c76f6.hot-update.js
.next/static/webpack/pages/index.5a5b22166d527fbd.hot-update.js
.next/static/webpack/pages/index.8fde0d7aab3f38e2.hot-update.js
.next/static/webpack/pages/index.09e8d1864d790f54.hot-update.js
.next/static/webpack/pages/index.16c50b1b64b3fb96.hot-update.js
.next/static/webpack/pages/index.605f75957932b8df.hot-update.js
.next/static/webpack/pages/index.28660e13237dce64.hot-update.js
.next/static/webpack/pages/index.cab4344e8d502b06.hot-update.js
